.ball{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    animation: ball 2s linear 2s infinite alternate;
}

@keyframes ball {
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(300px);
    }
    
}