div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
#box1{
    top: 50px;
    left: 50px;
}
#box2{
    position: relative;
    top: 10px;
    left: 20px;
}
#box3{
    position: sticky;
    top: 50px;
}
#box4{
    position: fixed;
    top: 10px;
}
#box5{
    position: absolute;
    top: 200px;
}

